# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.env
*.egg-info/
dist/
build/

# Spark / Delta Lake
data/processed/
data/raw/
spark-warehouse/
derby.log
metastore_db/
.ivy2/

# Airflow
airflow_home/
airflow.db
airflow.cfg

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
